<h1>What's the best web language?</h1>

<table id="results">
  <% @entries.each do |o| %>
    <tr>
      <td><%= o['title'] %></td>  
      <td><%= o['votes'] %></td>
    </tr>  
  <% end %>
</table>

<form action="/entries" method="POST" id="Entries">
  <% Entry::FORM_OPTIONS.each do |o| %>
  <p><button name="choice" value="<%= o %>"><%= o %></button></p>
  <% end %>
</form>

<script>
  $(function(){
    $(&ldquo;#results&rdquo;).chart();
  });
</script>
